# Python 執行期產生的快取檔
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/

# 虛擬環境 (Virtual Environments)
.venv/

# 資料庫目錄
db/*
!db/.gitkeep

# 個別任務設定檔目錄
job/*
!job/.gitkeep

# 紀錄檔目錄
log/*
!log/.gitkeep

# 結果輸出目錄
report/*
!report/.gitkeep

# 暫存檔目錄
tmp/*
!tmp/.gitkeep

# 組態檔
config/config_global.yaml

# 環境變數與機密資訊
.env
